<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Example</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <nav>
        <div class="logo">
            <a href="#">Your Logo</a>
        </div>

        <ul class="nav-links">
            <li><a href="index">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="/register">register</a></li>
        </ul>
    </nav>

</body>
</html>
